version: "3.9"
services:
  app:
    container_name: agent-backend-local
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    environment:
      ENV: prod
      PORT: 8080
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      CLOUDFLARE_R2_ACCOUNT_ID: ${CLOUDFLARE_R2_ACCOUNT_ID}
      CLOUDFLARE_R2_ACCESSKEY: ${CLOUDFLARE_R2_ACCESSKEY}
      CLOUDFLARE_R2_SECRETKEY: ${CLOUDFLARE_R2_SECRETKEY}
      CLOUDFLARE_R2_BUCKET_NAME: ${CLOUDFLARE_R2_BUCKET_NAME}
      CLOUDFLARE_R2_PUBLIC_URL: ${CLOUDFLARE_R2_PUBLIC_URL}
      CLOUDFLARE_R2_REGION: ${CLOUDFLARE_R2_REGION}
      CLOUDFLARE_R2_ENDPOINT: ${CLOUDFLARE_R2_ENDPOINT}
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
volumes:
  minio_data:
